.overlay {
  position: fixed;
  background: #121212;
  opacity: 35%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.modal {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #ffffff;
  max-width: 460px;
  min-height: 530px;
  gap: 24px;
  padding: 20px 40px 20px 40px;
  border-radius: 12px;
  border: 1px;
  z-index: 1;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 75vw;
    min-height: 70vh;
    gap: 12px;
  }
}